1) How do you comment code in Python? What are the different types of comments?
-> We comment in python by two ways 
 a) by using #
 b)by using ''' '''
 
 Single line comment -
   In this type of comment we can comment to only one line. Comment is done using (#) 
 Multiline Comment-
   In this type of comment we can comment to multiple lines
   Comment is done by ('''  ''')

Q2. What are variables in Python? How do you declare and assign values to variables?
->variables are nothing but work like the pointers as pointer point to the data variables also points or give information about the data
 we can declare variable name as per our choice.We can give them name as per our choice(for eg.It should be integer character etc)
 We declare the variable  at the left side and assign them data.There is present the equal to sign in between variable name and the data.
 for eg.a=67
 here a is variable and 67 is the data

Q3. How do you convert one data type to another in Python?
-> We can  convert one data type to another data type by using functions such as  if we want to convert the data from float to int we just have to write floating number inside the int function as follows
    a=5.12336
    suppose there is given number as floating point number and we want an integer then we just to do as follows-
    int(a)
    
    similarely we can convert data from string to integer ,integer to float and vice versa
    
    the code is as follows->

In [2]:
a=5.12541
a=int(a)
a

5

Q4. How do you write and execute a Python script from the command line?

  ->The Python script is basically a file containing code written in Python. The file containing python script has the extension ‘.py’. To run a python script, we need a python interpreter.

Here is a simple python script to print ‘PWSKILLS’:

print('‘PWSKILLS’')
Here, the ‘print()’ function is to print out any text written within the parenthesis. We can write the text that we want to be printed using either a single quote as shown in the above script or a double quote.

If you are coming from any other language then you will also notice that there is no semicolon at the end of the statement as with Python, you no need to specify the end of the line. And also we don’t need to include or import any files to run a simple python script.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [13]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?
-> complex numbers are the numbers that are represented by a+bi
where a & b are real numbers and i is an imaginary number
  In python complex number is represented by as follows-
   a+bj
   where a & b are real numbers and j is  an imaginary number

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?
  ->   The correct way to declare the variable  named age is as follows-
       age=25
       here age is an variable and 25 is the value

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?
->   price=9.99
this data is the type of floating number

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [14]:
name=" Aditya Ram Desai"
print(name)

 Aditya Ram Desai

Q10. Given the string "Hello, World!", extract the substring "World".

In [18]:
a="Hello, World!"
print(a[7:14:1])

World!

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.