Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
a="public"
print(a)

public

In [8]:
s=[2,3,4,6,89,"python","help"]
print(s)

[2, 3, 4, 6, 89, 'python', 'help']

In [6]:
v=3.24
print(v)

3.24

In [7]:
d=(2,5,7,9,"assignment")
print(d)

(2, 5, 7, 9, 'assignment')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

1)It is the string
2)It is invalid character as we cant make whole list as string
3)var3 contains the data in the form of list and in list there is present the string type of data
4)var4 contains the float type of data

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

1)It is the division operator 
It is used to divide the two numbers
2) It is modulo operator used to get the remainder 
3)It is the operator used to get the smallest integer when we get the floating values which are very near to the interger value.
4)It is the exponentional operator used to get the power of the given number

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [26]:
h=[13,4.3,'sir','code',3,4,5,7,'a','True']
for i in h:
    print(i)
    type(i)

13
4.3
sir
code
3
4
5
7
a
True

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A=6
B=2
count=1
while count!=A:
    if A%B==0:
        print("The number is divisible by B")
        count=count+1
        print(count)
    
    else:
        print("The number A is not divisible by B")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types-The mutable objects can be changed to any value.

Immutable data type-The immutable objects can not be changed to its value once it is created.

In [37]:
l=[2,4,67]
l[2]=56
print(l)

[2, 4, 56]

So as we can see that the list is mutable that is we can make changes in it

In [41]:
l=(2,4,67)
l[2]=56
print(l)

TypeError: 'tuple' object does not support item assignment

So as we can see that the tuple is not mutable that is we cant make changes in it