Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized 
and stored in a way that allows efficient retrieval,manipulation,
and management of information. Databases are used to store and manage 
data for various applications,ranging from small personal projects to large-scale enterprise systems.

Comparison of SQL vs NoSQL

SQL	                                                                        NoSQL
Stands for Structured Query Language	                             Stands for Not Only SQL
Relational database management system (RDBMS)	                     Non-relational database management system
Examples: MySQL, PostgreSQL, Oracle, SQL Server, 
Microsoft SQL Server	                                            Examples: MongoDB, Cassandra, Couchbase, Amazon

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) 
that deals with defining and managing the structure of a database. DDL commands are used to
create, modify, and delete database objects such as tables, indexes, views, and schemas.

CREATE:
The CREATE command is used to create new database objects, such as tables,
indexes, or views. 
DROP:
The DROP command is used to remove database objects from the database. 
ALTER:
The ALTER command is used to modify the structure of an existing database object, 
such as adding or dropping columns from a table, modifying column definitions, or changing table constraints
TRUNCATE:
The TRUNCATE command is used to remove all the data from a table, but the table's structure remains intact.

In [ ]:
#create
CREATE TABLE employees (
    emp_name VARCHAR(50),
    emp_salary DECIMAL(10, 2),
    emp_dept VARCHAR(30)
);
#Drop
DROP TABLE employees;

#alter
ALTER TABLE employees
ADD emp_email VARCHAR(100);

#truncate
TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language)
used to interact with the data stored in a database. DML commands are responsible 
for inserting, updating, and deleting data within the database tables.
INSERT-Used to insert the data in the table
UPDATE-Used to update the values in the table
DELETE-Used to delete the values in the tables

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) 
that is used to retrieve and query data from a database. 

Consider a table named "students" that stores information about students:

Consider a table named "students" that stores information about students:

student_id	student_name	   age	        grade
1	             RAM            20         	   A
2	             RAJ      	    26      	   B
3	             SHUSHUBHAM 	21	           A

In [ ]:

SELECT * FROM students;

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A Primary Key is a unique identifier for each row in a table.
It ensures that each record in the table can be uniquely identified and distinguishes it from all other records.
A primary key constraint helps maintain data integrity by preventing 
duplicate and null values in the column(s) that compose the primary key.

Foreign Key:
A Foreign Key is a column or a set of columns in a table that refers to the Primary Key of another table.
It establishes a relationship between two tables, enforcing referential integrity and maintaining consistency in the data.
The foreign key constraint ensures that values in the foreign key column(s) of one table must exist 
in the referenced primary key column(s) of another table or be NULL.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.