In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df1 = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [4]:
df1['course_name']

0        Data Science
1    Machine Learning
2            Big Data
3       Data Engineer
Name: course_name, dtype: object

In [5]:
df1

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [6]:
df1['course_name'].iloc[1]

'Machine Learning'

In [7]:
df1['duration'].iloc[1]

3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc (label-based indexing):
loc is primarily used for selection by label/index. It accepts labels as arguments.
When using loc, both the row and column indices are specified using labels (names).
It includes the end label in the range when slicing.



iloc (integer-based indexing):
iloc is used for selection by integer position. It accepts integer values as arguments.
When using iloc, both the row and column positions are specified using integers (zero-based).
It does not include the end position in the range when slicing

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [8]:

New_column=['3','0','1','2']

df2=df1.reindex(columns=New_column)

In [9]:
df1

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [10]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.831477  0.400030  0.084574  0.707980  0.631247  0.521126
2  0.203050  0.858109  0.439812  0.512761  0.459447  0.327844
3  0.016241  0.033071  0.828865  0.176676  0.206874  0.903317
4  0.246417  0.409299  0.863050  0.534691  0.456946  0.703894
5  0.769443  0.894462  0.009631  0.606403  0.196416  0.288757
6  0.855389  0.978723  0.611358  0.631599  0.516058  0.383888

In [12]:
df1.mean()

column_1    0.487003
column_2    0.595616
column_3    0.472882
column_4    0.528352
column_5    0.411165
column_6    0.521471
dtype: float64

In [13]:
df1['column_2'].std()

0.37266800263829436

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [14]:
l=('a','b','c','d','e','f')
df1['column_2'][2]=['a','b','c','d','e','f']

In [15]:
df1.mean()

/tmp/ipykernel_77/2053335143.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

column_1    0.487003
column_3    0.472882
column_4    0.528352
column_5    0.411165
column_6    0.521471
dtype: float64

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, the term "window functions" refers to a group of functions and methods that are used for performing operations on a "window" of data within a DataFrame. 

1.Rolling Functions
2.Expanding Functions
3.Window Apply Functions
4.Window Aggregations:

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [16]:
pd.datetime(year=2023,month=9,day=1)

/tmp/ipykernel_77/3387385563.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime(year=2023,month=9,day=1)

datetime.datetime(2023, 9, 1, 0, 0)

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [17]:
 date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

time_difference = date2 - date1


days = time_difference.days
hours, remainder = divmod(time_difference.seconds, 3600)
minutes = remainder // 60


print(f"Difference between the two dates: {days} days, {hours} hours, {minutes} minutes")

Enter the first date (YYYY-MM-DD):  2023-3-2
Enter the second date (YYYY-MM-DD):  2023-3-2

Difference between the two dates: 0 days, 0 hours, 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [21]:
import pandas as pd


def process_csv_file():

    file_path = input("Enter the file path of the CSV file: ")

    try:
       
        df = pd.read_csv(file_path)
        
        print("Columns in the CSV file:")
        print(df.columns)
        
       
        column_name = input("Enter the name of the column to convert to categorical: ")
        
        
        if column_name in df.columns:
           
            category_order = input("Enter the category order (comma-separated values): ")
            
            
            category_order = [x.strip() for x in category_order.split(',')]
            df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
            
            
            sorted_df = df.sort_values(by=column_name)
            
           
            print("\nSorted Data:")
            print(sorted_df)
        else:
            print(f"Column '{column_name}' not found in the CSV file.")
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"An error occurred: {str(e)}")

if __name__ == "__main__":
    process_csv_file()

Enter the file path of the CSV file:  gierf

File not found: gierf

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt


def visualize_sales_data():
  
    file_path = input("Enter the file path of the CSV file: ")

    try:
       
        df = pd.read_csv(file_path)
        
       
        if 'Date' in df.columns and 'Category' in df.columns and 'Sales' in df.columns:
           
            df['Date'] = pd.to_datetime(df['Date'])
            
           
            grouped_df = df.groupby(['Date', 'Category'])['Sales'].sum().unstack(fill_value=0)
            
           
            plt.figure(figsize=(12, 6))
            stacked_data = grouped_df.plot(kind='bar', stacked=True, colormap='tab20', width=0.8)
            
           
            plt.xlabel('Date')
            plt.ylabel('Sales')
            plt.title('Stacked Bar Chart of Sales by Product Category Over Time')
            
            
            plt.legend(loc='upper right', bbox_to_anchor=(1.15, 1))
            
         
            plt.show()
        else:
            print("The CSV file should contain 'Date', 'Category', and 'Sales' columns.")
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"An error occurred: {str(e)}")


if __name__ == "__main__":
    visualize_sales_data()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd


def calculate_and_display_statistics():
    
    file_path = input("Enter the file path of the CSV file containing student data: ")

    try:
        
        df = pd.read_csv(file_path)
        
       
        if 'Test Score' in df.columns:
            
            mean_score = df['Test Score'].mean()
            median_score = df['Test Score'].median()
            mode_scores = df['Test Score'].mode()
            
           
            statistics_df = pd.DataFrame({
                'Statistic': ['Mean', 'Median', 'Mode'],
                'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
            })
            
           
            print(statistics_df.to_string(index=False))
        else:
            print("The CSV file should contain a 'Test Score' column.")
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"An error occurred: {str(e)}")


if __name__ == "__main__":
    calculate_and_display_statistics()