Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42,5,3,2,1,3343,53455,3434,321]
series = pd.Series(data)

print(series)

0         4
1         8
2        15
3        16
4        23
5        42
6         5
7         3
8         2
9         1
10     3343
11    53455
12     3434
13      321
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
Then, print the DataFrame.

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. 

Series is used where the data is not much more while dataframe is used in the pandas where the data set is large.

A DataFrame in pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure. It can be thought of as a table, similar to a spreadsheet or a SQL table, where data is organized into rows and columns. Each column in a DataFrame can hold different types of data, such as numbers, strings, or dates. DataFrames are a fundamental data structure in pandas and are designed to handle and manipulate data efficiently.

On the other hand, a pandas Series is a one-dimensional labeled array, similar to a column in a DataFrame. It is capable of holding any data type and is often used to represent a single column of data with an associated index. Think of it as a specialized array with an index that labels each element.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

1.read()- This function is used to read the data which is not in structured format.
2. columns()-This function is used to get the columns
3. head()-This function is used to get the first 5 rows.
4.Tail()-This function is used to get the last 5 rows.
5.type()-This function is used to get the type of that data .
6 info(): This function provides a concise summary of the DataFrame, including data types, non-null values, and memory usage. It's helpful for understanding the structure of your data.
7.drop(): This function lets you remove specific rows or columns from the DataFrame.
8.sort(): This function is used to sort the data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Here both series and Dataframes are mutable.Panel is not mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
import pandas as pd


names = pd.Series(['Ash', 'Bob', 'Charry', 'Don'])
ages = pd.Series([5, 33, 22, 28])
scores = pd.Series([5, 7, 40, 58])


data = {
    'Name': names,
    'Age': ages,
    'Score': scores
}

df = pd.DataFrame(data)

print(df)